<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MIST</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="gamesbg">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm  box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">MIST</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Games/Index">|&nbsp;&nbsp;&nbsp;&nbsp;Games&nbsp;&nbsp;&nbsp;&nbsp;|</a> 
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("User"))
                            {
                            <a class="nav-link" asp-area="" asp-page="/ShoppingCart/Index">Shopping Cart&nbsp;&nbsp;&nbsp;&nbsp;|</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("User"))
                            {
                            <a class="nav-link" asp-area="" asp-page="/Feedbacks/Create">Feedback&nbsp;&nbsp;&nbsp;&nbsp;|</a>
                            }
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
                            {
                            <a class="nav-link" asp-area="" asp-page="/Feedbacks/Index">Feedback&nbsp;&nbsp;&nbsp;&nbsp;|</a>
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/Credits">Credits&nbsp;&nbsp;&nbsp;&nbsp;|</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-page="/References">References&nbsp;&nbsp;&nbsp;&nbsp;|</a>
                        </li>
                        <li class="nav-item">
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Audit/Index">Audit Log&nbsp;&nbsp;&nbsp;&nbsp;|</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-page="/Roles/Index">Roles&nbsp;&nbsp;&nbsp;&nbsp;|</a>
                                </li>
                        }
                            </li>
                        </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
<hr />
    <footer class="footer text-light">
        <div class="container">
            &copy; 2021 - MIST 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
