@page
@model MIST.Pages.ShoppingCart.PaidModel
@{
    <html>
    <head>
        <title>Thanks for your order!</title>
    </head>
    <body>
        <h1>Thanks for your order!</h1>
        <p>
            Your order is now being processed and we have emailed you the receipt!
            If you have any questions, please email
            <a href="mailto:MISTpurchase@gmail.com">MISTpurchase@gmailcom</a>.
        </p>
    </body>
</html>
}
