@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<head>
    <style>
        body {
            background-color: black;
        }
        p{
            color: white;
        }
    </style>
</head>
<body>
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You do not have access to this resource.</p>
</header>
</body>