@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}
<head>
    <style>
        body {
            background-color: black;
        }

        h1 {
            color: white;
        }
    </style>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <partial name="_StatusMessage" model="Model.StatusMessage" />
    </body>