@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<head>
    <style>
        body {
            background-color: black;
        }

        h1 {
            color: white;
        }
    </style>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
</body>