@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<head>
    <style>
        body {
            background-color: black;
        }

        h1, p {
            color: white;
        }
    </style>
</head>
<body>
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to reset your password.
    </p>

    </body>