@page
@model MIST.Pages.CreditsModel
@{
    ViewData["Title"] = "Credits page";
}
<head>
    <style>
        body{
            background-color: black;
        }
        h1 {
            color: white;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Credits</h1>
        <p></p>
    </div>
</body>