@page
@model MIST.Pages.CreditsModel
@{
    ViewData["Title"] = "Credits page";
}
<head>
    <style>
        body{
            background-color: black;
        }
        h1, h2 {
            color: white;
            text-align: center
        }

        p {
            color: #adab6c;
            font-size: 30px;
            text-align: center
        }

        .thanks {
            color: white;
            font-size: 35px;
            text-align: center
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Credits</h1>
        <p></p>
    </div>
<hr/>
<hr />
    <h2>Login & Registration</h2>
    <p>Sherwin</p>

    <h2>Authorization</h2>
    <p>Brayden</p>

    <h2>CRUD Database</h2>
    <p>Lyris</p>

    <h2>Audit & Accountability</h2>
    <p>Yida</p>

    <h2>Miscellanous Pages</h2>
<p>Everyone!</p>

<p class="thanks">And Thanks To Our Great Supreme Leader Saiful!</p>
</body>