@page
@model MIST.Pages.CreditsModel
@{
    ViewData["Title"] = "Credits page";
}
<head>
    <style>
        body{
            background-color: black;
        }
        h1 {
            color: white;
        }

        p{
            color:white;
            font-size:40px
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">Credits</h1>
        <p></p>
    </div>


    <h1>Login and registration</h1>
    <p>Sherwin</p>

    <h1>Authorization</h1>
    <p>Brayden</p>

    <h1>CRUD Database</h1>
    <p>Lyris</p>

    <h1>Audit/Accountability</h1>
    <p>Yida</p>
</body>