@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="MISThomepage.css">
</head>
<div class="text-center">
    <a href="#" class="glitch" data-glitch="Explore">Explore</a>
    <p>We are the No.1 platform for purchasing hardcopy & softcopy games. Click <a asp-page="/Games/Index">here</a> to view our products</p>
</div>