@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<head>
    <link rel="stylesheet" href="/css/MISThomepage.css">
</head>
<body>
<div class="text-center">
    <p href="#" class="glitch" data-glitch="MIST">MIST</p>
    <p class="indextext">We are the No.1 platform for purchasing hardcopy & softcopy games. Click <a asp-page="/Games/Index">here</a> to view our products</p>
</div>
</body>