@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="text-center">
    <h1 class="display-4">Welcome To MIST</h1>
    <p>We are the No.1 platform for purchasing hardcopy & softcopy games. Click <a asp-page="/Games/Index">here</a> to view our products</p>
</div>