@page
@model MIST.Pages.ReferencesModel
@{
    ViewData["Title"] = "References page";
}
<head>
    <style>
        body {
            background-color: black;
        }

        h1 {
            color: white;
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">References</h1>
        <p></p>
    </div>
</body>