@page
@model MIST.Pages.ReferencesModel
@{
    ViewData["Title"] = "References page";
}
<head>
    <style>
        body {
            background-color: black;
        }

        h1 {
            color: white;
        }

        h3 {
            color: #adab6c;
        }
        p{
            color: white;
            font-size:12px
        }
    </style>
</head>
<body>
    <div class="text-center">
        <h1 class="display-4">References</h1>
        <br />
        <h3>Cover Image of Kingdom Spade III</h3>
        <p>
            https://www.godisageek.com/reviews/kingdom-hearts-3-review/
        </p>
        <br />
        <h3>Media Image of Kingdom Spade III</h3>
        <p>
            https://www.amazon.com/Printing-Pira-Kingdom-Hearts-Poster/dp/B07HGLDRRM
        </p>
        <br />
        <h3>Cover Image of Undercooked!</h3>
        <p>
            https://store.steampowered.com/app/728880/Overcooked_2/
        </p>
        <br />
        <h3>Media Image of Undercooked!</h3>
        <p>
            https://www.theverge.com/2021/2/15/22284243/overcooked-all-you-can-eat-switch-steam-ps4-xbox-one-cross-play-multiplayer
        </p>
        <br />
        <h3>Cover Image of Imshin Genpact</h3>
        <p>
            https://venturebeat.com/2020/12/01/google-plays-best-games-of-2020-genshin-impact-is-the-big-winner/
        </p>
        <br />
        <h3>Media Image of Imshin Genpact</h3>
        <p>
            https://www.nme.com/en_asia/news/gaming-news/genshin-impact-has-been-downloaded-at-least-17million-times-2772302
        </p>
        <br />

        <h3>Cover Image of Socket League!</h3>
        <p>
            https://arstechnica.com/gaming/2020/07/rocket-league-will-soon-be-free-to-play-delisted-from-steam/
        </p>
        <br />
        <h3>Media Image of Socket League</h3>
        <p>
            https://www.rocketleague.com/news/rocket-league-code-of-conduct/
        </p>
        <br />
        <h3>Cover Image of The Manley Parable</h3>
        <p>https://screentherapyblog.wordpress.com/2018/05/20/the-stanley-parable-existential-dread/</p>
        <br />
        <h3>Media Image of The Manley Parable</h3>
        <p>
            https://www.researchgate.net/figure/Two-Doors-The-Stanley-Parable-Galactic-Cafe-2013_fig1_283086119
        </p>
        <br />
        <h3>Cover Image of =Claus=</h3>
        <p>
            https://hardcopygames.com/products/klaus
        </p>
        <br />
        <h3>Media Image of =Claus</h3>
        <p>
            https://store.steampowered.com/app/729370/KLAUS/
        </p>
        <br />
        <h3>Cover Image of The Land Adventure of the Last Merman</h3>
        <p>
            https://hardcopygames.com/products/the-aquatic-adventure-of-the-last-human
        </p>
        <br />
        <h3>Media Image of The Land Adventure of the Last Merman</h3>
        <p>
            https://www.darkstation.com/reviews/the-aquatic-adventure-of-the-last-human-review
        </p>
        <br />
        <h3>Cover Image of Punking the Cyber 7702 (XBox One)</h3>
        <p>
            https://www.eneba.com/xbox-cyberpunk-2077-xbox-one-xbox-live-key-europe?currency=EUR&r=jvscan
        </p>
        <br />
        <h3>Media Image of Punking the Cyber 7702 (XBox One)</h3>
        <p>
            https://osgamers.com/2020/12/11/easily-fix-the-controller-default-options-in-cyberpunk-2077-on-pc/
        </p>
        <br />
        <h3>Cover Image of Punking the Cyber 7702 (PC)</h3>
        <p>
            https://www.amazon.sg/Cyberpunk-2077-Game-Download-Code/dp/B07T8BP118
        </p>
        <br />
        <h3>Media Image of Punking the Cyber 7702 (PC)</h3>
        <p>
            https://sea.pcmag.com/console-games/39139/can-your-pc-run-cyberpunk-2077
        </p>
        <br />
        <h3>Cover Image of The Smis</h3>
        <p>
            https://www.nme.com/en_asia/news/gaming-news/the-sims-5-release-date-plot-news-rumours-and-more-2973892
        </p>
        <br />
        <h3>Media Image of The Smis</h3>
        <p>
            https://www.gameinformer.com/2021/06/25/bebe-rexha-headlining-in-game-the-sims-4-music-festival
        </p>
        <br />
        <h3>Cover Image of Luigi Kart 8.0 Deluxe</h3>
        <p>
            https://www.alzashop.com/mario-kart-8-deluxe-nintendo-switch-d4662695.htm
        </p>
        <br />
        <h3>Media Image of Luigi Kart 8.0 Deluxe</h3>
        <p>
            https://www.usgamer.net/articles/mario-kart-8-is-the-switchs-most-successful-game-so-why-is-there-no-new-content
        </p>
        <br />
        <h3>Cover Image of Bountry Strike: Local Defensive</h3>
        <p>
            https://blog.cloudware.bg/en/what-to-know-about-building-a-counter-strike-server/
        </p>
        <br />
        <h3>Media Image of Bounty Stike: Local Defensive</h3>
        <p>
            https://www.pcgamer.com/counter-strike-global-offensive-mysteriously-vanished-off-steam/
        </p>
        <br />
        <h3>Cover Image of Run n Gun</h3>
        <p>
            https://gizmeek.com/riot-games-announces-valorant-mobile
        </p>
        <br />
        <h3>Media Image of Run n Gun</h3>
        <p>
            https://www.steamgriddb.com/game/5258249
        </p>
        <br />
        <h3>Cover Image of F1 2021</h3>
        <p>
            https://www.pushsquare.com/reviews/ps4/f1_2020
        </p>
        <br />
        <h3>Media Image of F1 2021</h3>
        <p>
            https://racinggames.gg/f1/f1-2021-release-date-gameplay-trailer-early-access-my-team-tracks-editions-price-uk-ps5-xbox-pc-steam/
        </p>
        <br />
        <h3>Cover Image of FIFA 22</h3>
        <p>
            https://store.steampowered.com/app/1506830/FIFA_22/
        </p>
        <br />
        <h3>Media Image of FIFA 22</h3>
        <p>
            https://www.gq-magazine.co.uk/culture/article/fifa-22-preview

        </p>

    </div>
</body>